body {
  background-color: black;
}

.Parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.Card {
  width: 400px;
  color: white;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #333;
}

.Card img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.Card p {
  margin: 20px 0;
}

.Card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}
